@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
	--input-bg: rgb(226, 228, 201);
	--alt-txt: rgb(206, 85, 64);
	--alt-color: rgb(166, 238, 130);
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 10%;
	font-family: "Inter", sans-serif;
}

header {
	margin-bottom: 5%;
	border-bottom: 1px solid var(--alt-color);
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.2rem;
}
a {
	color: var(--alt-txt);
}

section {
	margin-top: 5%;
	padding: 3%;
}

.one,
.sample {
	background-color: var(--alt-color);
	color: var(--alt-txt);
}

.endpoint,
.example {
	background-color: var(--alt-color);
	margin: 3%;
	padding: 2%;
}

.endpoint,
.example,
.sample {
	overflow-x: scroll;
}

.one .endpoint,
.one .example,
.sample .example {
	background-color: white;
}

footer {
	text-align: center;
	margin-top: 5%;
}

::-webkit-scrollbar {
	height: 5px;
}
::-webkit-scrollbar-track {
	background: var(--alt-color);
}
::-webkit-scrollbar-thumb {
	background: var(--alt-txt);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--alt-txt);
}

@media screen and (min-width: 600px) {
	.endpoint,
	.example,
	.sample {
		overflow: hidden;
	}
	body {
		padding: 5%;
		max-width: 1024px;
		margin: 0 auto;
	}

	header {
		margin-bottom: 0;
	}

	section {
		margin-top: 2%;
	}
}
